.demo {
  border: 1px solid #c0c0c0;
  border-collapse: collapse;
  padding: 5px;
  margin: auto;
}
.demo th {
  border: 1px solid #c0c0c0;
  padding: 5px;
  background: #f0f0f0;
}
.demo td {
  border: 1px solid #c0c0c0;
  padding: 5px;
}
